<app-master-data></app-master-data>
<div class="row-wrap">
  <div class="flex-p w-100">
      <div class="row">
          <div class="col-xs-12">
              <div class="row" style="margin-bottom:7px;">
                  <div class="col-xs-12 ">
                      <div class="flex-p">
                       
                         <button mat-raised-button class="pull-right mx-4 btn-primary" (click)="null">
                          <mat-icon>add</mat-icon> Add Question
                      </button>
                          <button mat-raised-button  class=" bg-warning pull-right filters-hover margin-right-10">
                              <mat-icon>help</mat-icon> Help
                          </button>
                         
                      </div>

                  </div>
              </div>



              <div class="row">
                  <div class="col-xs-12">
                      <div id="divQuotesGrid" class="table-responsive">
                          <table matSort id="example2" class="table table-bordered table-hover">
                              <thead class="tbl-head">
                                  <tr>
                                      <th class="text-center">Purpose</th>
                                      <th class="text-center">Questions</th>
                                      
                                      <th class="text-center">Status</th>
                                      <th class="text-center" style="width: 112px!important;">Actions</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let item of totalProjects">
                                      <td style="text-align: center!important;">{{item.survey}}</td>
                                      <td style="text-align: center!important;">{{item.question}}</td>
                                     
                                      <td class="text-center" >
                                              <a 
                                              [ngClass]="item.status ? 'status' : 'status Red'"
                                              mwlConfirmationPopover
                                              [popoverTitle]="popoverStatusTitle"
                                              [popoverMessage]="popoverStatusMessage"
                                              placement="left"
                                              (confirm)="cancelClicked = true"
                                              (cancel)="cancelClicked = true">
                                              {{item.status?'Active':'Inactive'}}
                                              </a>
                                      </td>
                                      <td  class="text-center">
                                            <a style="cursor: pointer;margin-right:10px; " matTooltip="Update Project" (click)="(item)">
                                                <i class="fa fa-edit" style="color: cornflowerblue"></i>
                                            </a>
                                            <a ><i class="fa fa-trash red" matTooltip="Delete Project"  style="cursor: pointer;"(click)="(item)"></i></a>
                                      </td> 
                                  </tr>
                                  <tr *ngIf="totalProjects ==null || totalProjects.length ==0">
                                      <td colspan="13">No data available</td>
                                  </tr>
                              </tbody>
                          </table>
                          <mat-paginator [length]="totalSize" [pageIndex]="currentPage" [pageSize]="pageSize"
                              [pageSizeOptions]="[5, 10, 25, 50, 100]" 
                              showFirstLastButtons></mat-paginator>
                      </div>
                  </div>
              </div>


          </div>
      </div>

  </div>
</div>