<div class="flex-p w-100">
  <div class="row" style="margin-bottom:7px;">
    <div class="col-xs-6 ">
        <div class="pills w-100 flex-p">
            <ul class="nav nav-pills">
                <li routerLinkActive="active">
                    <a mat-raised-button class="navtabWidth"
                        [routerLink]="['/ibs/projects/client/gridview']">
                        <mat-icon>grid_on</mat-icon> Grid view
                    </a>
                </li>
                <li routerLinkActive="active">
                    <a mat-raised-button class="navtabWidth"
                        [routerLink]="['/ibs/projects/client/mapview']">
                        <mat-icon>place </mat-icon> Map view
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-xs-6 ">
        <div class="flex-p">
            <!-- <button mat-raised-button class="pull-right  btn-primary" (click)="openProjectDialog(null)">
                <mat-icon>add</mat-icon> Add Project
            </button>
            <button mat-raised-button color="primary" class="pull-right filters-hover margin-right-10"
                (click)="filterToggle = !filterToggle">
                <mat-icon>filter_list</mat-icon> Filter
            </button> -->
  
        </div>
  
    </div>
  </div>

  
</div>