
<div fxLayout="row wrap">
  <div class="w-100">
      <div class="flex-p">
          <div class="row wrap">
              <div class="col-xs-12 pull-right" style="margin-right:0px !important;padding-right: 7px;">
                  <div class="w-100 flex-p">
                      <button mat-raised-button class="pull-right  btn-primary" (click)="openContactDialog(null)">
                          <mat-icon>add</mat-icon> Add Contact
                      </button>
                      <button mat-raised-button color="primary" class="pull-right  margin-right-10" (click)="filterToggle = !filterToggle">
                          <mat-icon>filter_list </mat-icon> Filter
                      </button>
                      <!-- <button mat-raised-button class="pull-right margin-right-10 btn-primary"> <mat-icon>view_column</mat-icon> Grid Columns </button> -->
                      
                      </div>
                  </div>
              </div>
          </div>
          
          <div fxLayout="row wrap" *ngIf="filterToggle">
              <div fxFlex="100" fxFlex.gt-sm fxFlex.sm class="flex-p w-100 margins">
                  <mat-card class="filter">
                      <mat-card-content>
                          <div class="row">
                              <div class="col-sm-4">
                                  <div class="col-sm-4 newMarginClass">
                                    Contact Name: 
                                  </div>
                                  <div class="col-sm-8">
                                      <input type="text" placeholder="Search by Contact Name" class="form-control" [formControl]="contactName">
                                  </div>
                              </div>
                              <div class="col-sm-4">
                                  <div class="col-sm-4 newMarginClass">
                                    Client Name: 
                                  </div>
                                  <div class="col-sm-8">
                                    <input type="text" placeholder="Search by Contact Name" class="form-control" [formControl]="clientName">
                                  </div>
                              </div>
                              <div class="col-sm-4">
                                  <div class="col-sm-4 newMarginClass">
                                    Job Title: 
                                  </div>
                                  <div class="col-sm-8">
                                    <input type="text" placeholder="Search by Job Title" class="form-control" [formControl]="jobTitle">
                                  </div>
                              </div>
                          </div>
                          
  
                          <div class="row" style="padding-top:10px !important">
                              <div class="col-sm-4">
                                  <div class="col-sm-4 newMarginClass">
                                    Contact Number: 
                                  </div>
                                  <div class="col-sm-8">
                                      <input type="text" class="form-control" placeholder=" Search by Contact Number " [formControl]="contactNumber" >
                                  </div>
                              </div>
                              <div class="col-sm-4">
                                  <div class="col-sm-4 newMarginClass">
                                      Status: 
                                  </div>
                                  <div class="col-sm-8">
                                      <mat-select placeholder="--Search by Status--" class="form-control" [formControl]="statu" [(ngModel)]="status_filter">
                                          <mat-option *ngFor="let option of status" [value]="option.status_id">{{option.status_name}}</mat-option>
                                      </mat-select>
                                  </div>
                              </div>
                              
                              <div class="col-lg-1" style="margin-left:195px!important;">
                                  <button mat-raised-button (click)="fliterSearch()" class="pull-right btn-primary"><mat-icon>youtube_searched_for</mat-icon> Search</button>
                              </div>
                              <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="margin-left: -18px;">
                                  <button mat-raised-button style="background-color:#37474f; color:#fff !important" (click)="clearFilters()"><mat-icon>settings_backup_restore</mat-icon> Clear</button>
                              </div>
                              <a (click)="filterToggle = !filterToggle" class="pull-right" style="font-size: 25px; cursor: pointer; margin-left: 5px;">
                                  <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                              </a>
                              
                          </div>
                      </mat-card-content>
                  </mat-card>
              </div>
          </div>
          <div fxLayout="row wrap" style="margin-top: 6px; padding: 0 7px 0 8px !important;">
              <table class="table table-bordered table-hover" style="width: 100%;background: #fff;">
                  <thead class="tbl-head">
                      <tr>
                          <th class="text-center">Contact Name</th>
                          <th class="text-center">Client Name</th>
                          <th class="text-center">Job Title</th>
                          <th class="text-center">Contact Number</th>
                          <th class="text-center">Contact Email</th>
                          <th class="text-center">Street Address</th>
                          <th class="text-center">City</th>
                          <th class="text-center">Postal Code</th> 
                          <th class="text-center">Created Date</th>
                          <th class="text-center">Status</th>
                          <th class="text-center"  style="width: 112px!important;">Actions</th>
                      </tr>
                  </thead>
                  <!-- <tr *ngIf="showEmpty"><td colspan="14">No records found</td></tr> -->
                  <tr *ngFor="let item of allContacts">
                      <td class="text-center">
                        {{item.contactName}}
                      </td>
                      <td class="text-center">
                        {{item.clientName}}
                      </td>
                      <td class="text-center">
                        {{item.contactJobTitle}}
                      </td>
                      <td class="text-center">
                        {{item.contactPhone}}
                      </td>
                      <td class="text-center">
                        {{item.contactEmail}}
                      </td>
                      <td class="text-center">
                        {{item.contactStreetAddress }}
                      </td>
                      <td class="text-center">
                        {{ item.contactCity }}
                      </td>    
                      <td class="text-center">
                        {{item.contactZip}}
                      </td>
                      <td class="text-center">
                        {{item.createdDate | date : 'y-MM-dd'}}
                      </td>
                      <!-- <td class="text-center" style="text-align:center!important">
                          <span *ngIf="!item.contactbtStatus" style="color:red">Inactive</span>
                          <span *ngIf="item.contactbtStatus" style="color:#1c4f86;">Active</span>
                      </td> -->
                      <td >
                        <a 
                        [ngClass]="item.contactbtStatus ? 'status' : 'status Red'"
                        mwlConfirmationPopover
                        [popoverTitle]="popoverStatusTitle"
                        [popoverMessage]="popoverStatusMessage"
                        placement="left"
                        (confirm)="cancelClicked = true"
                        (cancel)="cancelClicked = true">
                        {{item.contactbtStatus?'Active':'Inactive'}}
                        </a>
                    </td>
                      <td  class="text-center">
                      <a style="cursor: pointer;margin-right:10px; " matTooltip="Update Contact" (click)="openContactDialog(item)">
                          <i class="fa fa-edit" style="color: cornflowerblue"></i>
                      </a>
                      <a ><i class="fa fa-trash red" matTooltip="Delete Contact"  style="cursor: pointer;"(click)="openDeleteDialog(item)"></i></a>
                  </td>
          </tr>
      </table>
      <!-- <div class="col-md-12 pull-right">
          <mat-paginator [length]="totalSize" [pageIndex]="currentPage" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 50, 100]" (page)="handlePage($event)" showFirstLastButtons></mat-paginator>
      </div> -->
  </div>
</div>
</div>