<app-quotesdashboard></app-quotesdashboard>

<div class="w-100">
  <div class="w-100 flex-p">
    <ckeditor [editor]="Editor" data="<p>Hello World! 
       Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        Ipsam corrupti numquam, perspiciatis ratione voluptatem dolorem.</p>"></ckeditor>
  </div>
</div>

<div class="col-xs-12 pull-right" style="margin-right:0px !important;padding-right: 7px;">
  <div class="w-100 flex-p">
    <button mat-raised-button class="pull-right  btn-primary">
      Cancel
    </button>
    <button mat-raised-button class="pull-right  btn-success mx-4">
      Email Report
    </button>
    <button mat-raised-button class="pull-right  btn-success mx-3">
      Download Report
    </button>


  </div>
</div>