<div class="NewHeader">
  <h1 mat-dialog-title>
    <span *ngIf="!project" class="title-left">Add</span>
    <span *ngIf="project" class="title-left">Update</span> Quote
  </h1>
</div>

<div mat-dialog-content>
  <form class="form-horizontal row flex-p col-12 mt-2 px-4" novalidate [formGroup]="projectForm">
    <mat-tab-group class=" flex-p col-12 ">
      <mat-tab label="1">
        <div class="col-12 mt-4">
          <div class="form-group">
          <label class="control-label col-sm-4 add-member-label">Quote #:&nbsp;</label>
          <div class="col-sm-8">
            <input type="text" maxlength="50" class="form-control" placeholder="" formControlName="contactName"
              required>
            <div *ngIf="!contactName.valid && (contactName.dirty || contactName.touched)" class="error-text">
              <div *ngIf="contactName.errors.required">
                Required
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="form-group">
          <label class="control-label col-sm-4 add-member-label">Potential:&nbsp;</label>
          <div class="col-sm-8">
            <mat-select class="form-control">
              <mat-option [value]=1>Follow up with client </mat-option>
              <mat-option [value]=2>Normal </mat-option>
              <mat-option [value]=3>Rush </mat-option>
              <mat-option [value]=4>Unlikely</mat-option>
            </mat-select>
          </div>
        </div> -->
        <div class="form-group">
          <label class="control-label col-sm-4 add-member-label">Street Address:&nbsp;</label>
          <div class="col-sm-8">
            <input type="text" maxlength="50" class="form-control" placeholder="" formControlName="jobTitle" required>
            <div *ngIf="!jobTitle.valid && (jobTitle.dirty || jobTitle.touched)" class="error-text">
              <div *ngIf="jobTitle.errors.required">
                Required
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="form-group">
          <label class="control-label col-sm-4 add-member-label">Quote Status:&nbsp;</label>
          <div class="col-sm-8">
            <input type="text" maxlength="200" class="form-control" placeholder="" formControlName="streetAddress"
              required>

          </div>
        </div> -->
        <div class="form-group">
          <label class="control-label col-sm-4 add-member-label">Days Old:&nbsp;</label>
          <div class="col-sm-8">
            <input type="text" maxlength="200" class="form-control" placeholder="" formControlName="streetAddress"
              required>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-4 add-member-label">Project Type:&nbsp;</label>
          <div class="col-sm-8">

            <div class="input-icon right">
              <mat-select class="form-control">
                <mat-option [value]=1>Construction</mat-option>
                <mat-option [value]=2>Architecture</mat-option>
                <mat-option [value]=3>Renovation</mat-option>
              </mat-select>
            </div>

            <div *ngIf="!contactNumber.valid && (contactNumber.dirty || contactNumber.touched)" class="error-text">
              <div *ngIf="contactNumber.errors.required">
                Required
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-4 add-member-label">Client Name:&nbsp;</label>
          <div class="col-sm-8">
  
            <div class="input-icon right">
              <input type="text" maxlength="200" class="form-control" placeholder="" formControlName="streetAddress"
                required>
            </div>
  
            <div *ngIf="!contactEmail.valid && (contactEmail.dirty || contactEmail.touched)" class="error-text">
              <div *ngIf="contactEmail.errors.required">
                Required
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-4 add-member-label">Project Manager:&nbsp;</label>
          <div class="col-sm-8">
  
            <div class="input-icon right">
              <mat-select placeholder="-- Select --" class="form-control">
                <mat-option [value]=1>Raj</mat-option>
                <mat-option [value]=2>Akhil</mat-option>
                <mat-option [value]=3>Shiva</mat-option>
              </mat-select>
            </div>
  
            <div *ngIf="!City.valid && (City.dirty || City.touched)" class="error-text">
              <div *ngIf="City.errors.required">
                Required
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-4 add-member-label">Recieved Date:&nbsp;</label>
          <div class="col-sm-8">
            <input class="form-control" formControlName="City" placeholder="MM/DD/YYYY" class="form-control" id="db2"
              [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3" name="dt3">
            <owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-4 add-member-label">Activity Date:&nbsp;</label>
          <div class="col-sm-8">
            <input class="form-control" formControlName="City" placeholder="MM/DD/YYYY" class="form-control" id="db4"
              [owlDateTimeTrigger]="dt4" [owlDateTime]="dt4" name="dt4">
            <owl-date-time [pickerType]="'calendar'" #dt4></owl-date-time>
          </div>
        </div>
        </div>
        
      </mat-tab>

      <mat-tab label="2">

    <div class="col-12 mt-4">
     
      <div class="form-group">
        <label class="control-label col-sm-4 add-member-label">Quoted:&nbsp;</label>
        <div class="col-sm-8">
          <input type="text" maxlength="15" class="form-control" formControlName="invoice" placeholder="" required>

        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-4 add-member-label">Awarded:&nbsp;</label>
        <div class="col-sm-8">
          <input type="text" maxlength="15" class="form-control" formControlName="invoice" placeholder="" required>

        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-4 add-member-label">Invoiced:&nbsp;</label>
        <div class="col-sm-8">
          <input type="text" maxlength="15" class="form-control" formControlName="invoice" placeholder="" required>

        </div>
      </div>
    </div>

      </mat-tab>
    </mat-tab-group>
  </form>
</div>
<mat-dialog-actions class="col-sm-12" align="end">
  <button *ngIf="!project" mat-raised-button [disabled]="!projectForm.valid"
    [ngClass]="!projectForm.valid ? '' : 'btn-primary'">
    <mat-icon>send</mat-icon>&nbsp;Save
  </button>
  <button *ngIf="project" mat-raised-button [disabled]="!projectForm.valid"
    [ngClass]="!projectForm.valid ? '' : 'btn-primary'">
    <mat-icon>update</mat-icon>&nbsp;Update
  </button>
  <button mat-raised-button class="CancelClass" (click)="close()">
    <mat-icon>cancel</mat-icon>&nbsp;Close
  </button>
</mat-dialog-actions>