<div fxLayout="row wrap">
  <div class="w-100">
    <div class="flex-p">
      <div class="row wrap">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <div class="pills w-100 flex-p">
          </div>
        </div>
        <div class="col-xs-6" style="margin-right:0px !important">
          <div class="w-100 flex-p">
            <button *ngIf="!showEmpty" mat-raised-button class="pull-right  btn-primary  margin-right-10"
              (click)="dowloadBulkUploadCampaignTemplate('data')">
              <mat-icon>import_export</mat-icon>
              Export
            </button>
            <button mat-raised-button color="primary" class="pull-right  margin-right-10"
              (click)="filterToggle = !filterToggle">
              <mat-icon>filter_list</mat-icon> Filter
            </button>
          </div>
        </div>
      </div>
    </div>

    <div fxLayout="row wrap" style="margin-top:10px;">
      <div class="table-responsive w-100 flex-p" id="grid-table-container">
        <table id="example2" class="table table-bordered table-hover">
          <thead class="tbl-head">
            <tr class="tr-grid-header">
              <th>Requisition No</th>
              <th>Requisition Date</th>
              <th>Requisition Title</th>
              <th class="text-center">Items</th>
              <th>Required By</th>
              <th class="text-center">Send Quotation</th>
              <th>Approval Status</th>
              <!-- <th style="width: 90px;text-align: center !important;">Actions</th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="showEmpty">
              <td colspan="21" class="text-center">No records found</td>
            </tr>

            <tr *ngFor="let campaign of purchaseorders">
              <td>
                {{campaign.ponumber}}
              </td>
              <td>
                {{campaign.issuedate}}
              </td>
              <td>
                {{campaign.branch}}
              </td>
              <td class="inner-screen text-center">
                {{campaign.items}}
              </td>
              <td>
                {{campaign.duedate}}</td>
                <td class="text-center"><a routerLink="/beacon/procurement/sendquotation">Add</a></td>
              <td>
                {{campaign.totalamount}}
              </td>
              <!-- <td class="text-center">
                <a title="Edit Asset" style="cursor: pointer;" (click)="openCampaignDialog(campaign)">
                  <i class="fa fa-edit" style="color: cornflowerblue"></i>
                </a>
                <a title="Delete Asset" (click)="openDeleteDialog(campaign)">
                  <i style="cursor: pointer;" title="Delete Campaign" class="fa fa-trash red"></i>
                </a>
              </td> -->
            </tr>
          </tbody>
        </table>
        <button class="mine" mat-fab (click)="scrollGrid('right');">
          <mat-icon style="color:#37474f">fast_forward</mat-icon>
        </button>
        <button class="mine" mat-fab style="margin-right: 78px !important;" (click)="scrollGrid('left');">
          <mat-icon style="color:#37474f">fast_rewind</mat-icon>
        </button>
        <!-- <mat-paginator [length]="totalSize" [pageIndex]="currentPage" [pageSize]="pageSize"
          [pageSizeOptions]="[5, 10, 25, 50, 100]" (page)="handlePage($event)" showFirstLastButtons></mat-paginator> -->
      </div>
    </div>
  </div>
</div>