<app-master-data></app-master-data>
<div class="row-wrap">
  <div class="row">
    <div class="flex-p w-100">
      <div class="col-12 ">
        <div class="pills w-100 flex-p">
          <ul class="nav nav-pills">
            <li routerLinkActive="active">
              <a mat-raised-button class="navtabWidth" [routerLink]="['/ibs/admin/master-data/kanban/projects']">
                <mat-icon>swap_horiz</mat-icon> Projects
              </a>
            </li>
            <li routerLinkActive="active">
              <a mat-raised-button class="navtabWidth" [routerLink]="['/ibs/admin/master-data/kanban/quotes']">
                <mat-icon>people_alt</mat-icon> Quotes
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div> 
  </div>
</div>