<div class="row-wrap">
  <div class="row">
    <div class="flex-p w-100">
      <div class="col-12 ">
        <div class="pills w-100 flex-p">
          <ul class="nav nav-pills">
            <li routerLinkActive="active">
              <a mat-raised-button class="navtabWidth" [routerLink]="['/ibs/admin/master-data/kanban/projects']">
                <mat-icon>swap_horiz</mat-icon> Kanban
              </a>
            </li>
            <li routerLinkActive="active">
              <a mat-raised-button class="navtabWidth" [routerLink]="['/ibs/admin/master-data/client-type']">
                <mat-icon>people_alt</mat-icon> Client Types
              </a>
            </li>
            <li routerLinkActive="active">
              <a mat-raised-button class="navtabWidth" [routerLink]="['/ibs/admin/master-data/project-type']">
                <mat-icon>list</mat-icon> Project Type
              </a>
            </li>
            <li routerLinkActive="active">
              <a mat-raised-button class="navtabWidth" [routerLink]="['/ibs/admin/master-data/rfq']">
                <mat-icon>description</mat-icon> RFQ Questions
              </a>
            </li>
            <li routerLinkActive="active">
              <a mat-raised-button class="navtabWidth" [routerLink]="['/ibs/admin/master-data/survey-purpose']">
                <mat-icon>assignment</mat-icon> Survey Purpose
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div> 
  </div>
</div>