<div class="NewHeader">
  <h1 mat-dialog-title>
    <span class="title-left">Service History (P001)</span>
  </h1>
</div>
<div mat-dialog-content>
  <form class="form-horizontal" novalidate>
      <div  class="form-group">
          <label class="control-label col-sm-4 ">Activity Date:&nbsp;</label>
          <div class="col-sm-8">
           12-06-2020
          </div>
        </div>
        <div  class="form-group">
          <label class="control-label col-sm-4 ">Service Provider:&nbsp;</label>
          <div class="col-sm-8">
            Test Provider
          </div>
        </div>
        <div  class="form-group">
          <label class="control-label col-sm-4 ">Service Date:&nbsp;</label>
          <div class="col-sm-8">
             23-04-202
          </div>
        </div>
        <div  class="form-group">
          <label class="control-label col-sm-4 ">Service Fee:&nbsp;</label>
          <div class="col-sm-8">
            RS 2,000
          </div>
        </div>
        <div  class="form-group">
          <label class="control-label col-sm-4 ">Service Taxes:&nbsp;</label>
          <div class="col-sm-8">
             RS 500
          </div>
        </div>
        <div  class="form-group">
          <label class="control-label col-sm-4 ">Invoice Number:&nbsp;</label>
          <div class="col-sm-8">
           IV-001
          </div>
        </div>
        <div  class="form-group">
          <label class="control-label col-sm-4 ">Service Remarks:&nbsp;</label>
          <div class="col-sm-8">
            Testing 
          </div>
        </div>
  </form>
</div>

<mat-dialog-actions class="col-sm-12" align="end">
    <button mat-raised-button class="CancelClass" (click)="close()">
      <mat-icon>cancel</mat-icon>&nbsp;Close
    </button>
  </mat-dialog-actions>