<p class="col-sm-12" style="margin-top: 20px !important;">
  <span style="font-size: 18px;font-weight: bold; margin-right: 8px">Quote Number:</span>
  <span style="font-size: 16px; margin-right: 8px">Q0001</span>


  <!-- <span style="font-size: 16px; margin-right: 8px">(Toronto Towers) </span> -->
</p>

<div class="row super-row" style="padding: 5px 24px 10px 23px">
  <a routerLinkActive="active-link" [routerLink]="['/ibs/projects/quote/quote-dashboard/activity']"
    class="col-sm font-color">Activity<br> 
  </a>
  <a routerLinkActive="active-link" [routerLink]="['/ibs/projects/quote/quote-dashboard/overview']"
    class="col-sm font-color">Overview<br>
  </a>
  <a routerLinkActive="active-link" [routerLink]="['/ibs/projects/quote/quote-dashboard/budget']"
    class="col-sm font-color">Budget<br> 
  </a>
  <a routerLinkActive="active-link" [routerLink]="['/ibs/projects/quote/quote-dashboard/site-visits']"
    class="col-sm font-color">Site Visits<br> 
  </a>
  <a routerLinkActive="active-link" [routerLink]="['/ibs/projects/quote/quote-dashboard/docs']"
    class="col-sm font-color">Docs<br> 
  </a>
  <!-- <a routerLinkActive="active-link" [routerLink]="['/ibs/projects/quote/quote-dashboard/services']"
    class="col-sm font-color">Services<br> 
  </a>
  <a routerLinkActive="active-link" [routerLink]="['/ibs/projects/quote/quote-dashboard/brief']"
    class="col-sm font-color">Brief<br>
  </a> -->

</div>
