<div class="row-wrap">
  <div class="w-100">
      <div class="row">
          <div class="col-xs-12">
              <div class="pills">
                  <ul class="nav nav-pills">
                      <li routerLinkActive="active">
                          <a mat-raised-button class="navtabWidth" [routerLink]="['/beacon/projects/gridview']">
                              <mat-icon>grid_on</mat-icon> Grid view
                          </a>
                      </li>
                      <li routerLinkActive="active">
                        <a mat-raised-button class="navtabWidth" [routerLink]="['/beacon/projects/kanbanview']">
                            <mat-icon>crop_square</mat-icon> Kanban view
                        </a>
                    </li>
                      <li routerLinkActive="active">
                          <a mat-raised-button class="navtabWidth" [routerLink]="['/beacon/projects/mapview']">
                              <mat-icon>place </mat-icon> Map view
                          </a>
                      </li>
                      
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>
