
<div class="NewHeader">
  <h1 mat-dialog-title> <span *ngIf="!comments">Add</span><span *ngIf="comments">Update</span> Remarks</h1>
</div>
<div mat-dialog-content>
  <form class="form-horizontal" novalidate [formGroup]="commentsForm">
    <div class="row">
      <div class="col-sm-12">
        <span><b>Remarks:</b></span>
        <textarea rows="3" formControlName="comment" maxlength="500" style="height:100px !important;"required class="form-control txtarea" id="content"
        placeholder="Write here"></textarea>
        <div *ngIf="!comment.valid && (comment.dirty || comment.touched)" class="error-text">
          <div *ngIf="comment.errors.required">
            Remarks are required
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<mat-dialog-actions align="end">
  <button mat-raised-button [disabled]="!commentsForm.valid" [ngClass]="commentsForm.valid ? 'btn-primary':''" (click)="saveComment()"><mat-icon *ngIf="comments">update</mat-icon><mat-icon *ngIf="!comments">save</mat-icon><span *ngIf="!comments"> Save</span><span
    *ngIf="comments"> Update</span></button>
    <button mat-raised-button class="CancelClass" (click)="close()"><mat-icon>cancel</mat-icon>&nbsp;Close</button>
    <!-- <button type='button' class="CancelClass" mat-raised-button class="add-dark-hover btn-default" (click)="close()"><mat-icon>cancel</mat-icon>&nbsp;Close</button> -->
  </mat-dialog-actions>