<div class="NewHeader">
  <h1 mat-dialog-title>
      <span *ngIf="!project" class="title-left">Add</span>
    <span *ngIf="project" class="title-left">Update</span> Project Type
  </h1>
</div>
<div mat-dialog-content>
  <form>
      <div class="form-group">
          <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 add-member-label" for="pwd">Client Type:
          </label>
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
              <mat-select placeholder="-- Select Category --" class="form-control">
                  <mat-option [value]=1>Engineering</mat-option>
                  <mat-option [value]=2>Construction</mat-option>
                  <mat-option [value]=3>Architectural</mat-option>
                  <mat-option [value]=4>Internal</mat-option>
              </mat-select>
          </div>
      </div>
  </form>
</div>
<mat-dialog-actions align="end">
  <button mat-raised-button class="add-hover btn-success" [mat-dialog-close]="'test'"> <span>Save</span></button>
  <button mat-raised-button class="add-dark-hover btn-default" (click)="close()">Cancel</button>
</mat-dialog-actions>