<div class="row-wrap">
  <div class="row">
    <div class="flex-p w-100">
      <div class="col-12 ">
        <div class="pills w-100 flex-p">
          <ul class="nav nav-pills">
            <li routerLinkActive="active">
              <a mat-raised-button class="navtabWidth" [routerLink]="['/ibs/admin/users']">
                <mat-icon>group_add</mat-icon> Users
              </a>
            </li>
            <li routerLinkActive="active">
              <a mat-raised-button class="navtabWidth" [routerLink]="['/ibs/admin/roles']">
                <mat-icon>group_add</mat-icon> Roles
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div> 
  </div>
</div>