.tab {
    background: #e0e0e0 !important;
    margin-right: 8px;
    padding: 0px 10px;
}
.tabActive{
    background: #50636d!important;
    color: #fff!important;
}
.btn-success-help-job {
    background: #ecdf29 !important;
    color: black !important;
}
.add-hover-help-job:hover {
    //color: #222222 !important;
    background: #f8f18a !important;
}