<div fxLayout="row wrap">
  <div class="w-100">
    <div class="flex-p">
      <div class="row wrap">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <div class="pills w-100 flex-p">
          </div>
        </div>
        <div class="col-xs-6" style="margin-right:0px !important">
          <div class="w-100 flex-p">
            <button *ngIf="!showEmpty" mat-raised-button class="pull-right  btn-primary  margin-right-10"
              (click)="dowloadBulkUploadCampaignTemplate('data')">
              <mat-icon>import_export</mat-icon>
              Export
            </button>

            <button mat-raised-button color="primary" class="pull-right  margin-right-10"
              (click)="filterToggle = !filterToggle">
              <mat-icon>filter_list</mat-icon> Filter
            </button>
          </div>
        </div>
      </div>
    </div>

    <div fxLayout="row wrap" style="margin-top:10px;">
      <div class="table-responsive w-100 flex-p" id="grid-table-container">
        <table id="example2" class="table table-bordered table-hover">
          <thead class="tbl-head">
            <tr class="tr-grid-header">
              <th>Vendor Name</th>
              <th>Branch</th>
              <th class="text-center">Consignments</th>
              <th>PO Ref. No</th>
              <th>PO Date</th>
              <th>PO Delivery Date</th>
              <th>PO Value</th>
              <th>PO Balance Value</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="showEmpty">
              <td colspan="21" class="text-center">No records found</td>
            </tr>

            <tr *ngFor="let campaign of consignments">
              <td>
                {{campaign.vendorname}}
              </td>
              <td>
                {{campaign.branch}}
              </td>
              <td class="inner-screen text-center">
                  {{campaign.items}}
                </td>
              <td>
                {{campaign.No}}
              </td>
             
              <td>
                {{campaign.POdate}}</td>

              <td>
                {{campaign.POdeliverydate}}
              </td>
              <td>
                {{campaign.POvalue}}</td>
              <td>
                {{campaign.PObalancevalue}}</td>
            </tr>
          </tbody>
        </table>
        <button class="mine" mat-fab (click)="scrollGrid('right');">
          <mat-icon style="color:#37474f">fast_forward</mat-icon>
        </button>
        <button class="mine" mat-fab style="margin-right: 78px !important;" (click)="scrollGrid('left');">
          <mat-icon style="color:#37474f">fast_rewind</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>