<app-quotesdashboard></app-quotesdashboard>
<!-- <div fxLayout="row wrap" style="margin-top:10px;padding: 0px 5px 0px 5px;">
  <div class="w-100 flex-p">
      <app-ngx-editor [(ngModel)]="DetailsText"  height="300px" minHeight="50px"  [config]='toolBar'
      [placeholder]="'Enter Details'" [spellcheck]="true">
    </app-ngx-editor>
    <div class="col-sm-12" style="margin-top: 20px;">
        <button mat-raised-button class="add-hover btn-primary pull-right" type="button">
            <mat-icon>send</mat-icon>&nbsp;Save
          </button>
          <button mat-raised-button class="add-dark-hover btn-default pull-right margin-right-10 " type="button" >
              <mat-icon>email</mat-icon> &nbsp;Email Report
            </button>  
        <button mat-raised-button class="add-dark-hover btn-default pull-right margin-right-10 " type="button">
          <mat-icon>cloud_download</mat-icon> &nbsp;Download Report
        </button>
      </div>
  </div>
</div> -->
<div fxLayout="row wrap" #resizedDiv>
  <div class="flex-p w-100">
    <div class="col-lg-4" style="background-color:honeydew;">
        <!-- <div fxLayout="row wrap" style="margin-top: 20px !important;">
            <div class="col-sm-8">
                <h3 style="background-color:darkgrey;color: white;">Scope</h3>
            </div>
            <div class="col-sm-4 inner-screen" style="margin-top: 26px;">
              History
            </div>
        </div> -->
        <h3 style="text-align: center;">Scope</h3>

      <div fxLayout="row wrap" style="margin-top: 20px !important;">
        <div class="col-sm-7">
            <div class="file btn btn-lg btn-primary pull-left upload" >
                <mat-icon class="upload-icon">cloud_upload</mat-icon> Upload File
                <input style="cursor: pointer !important" class="file" type="file" name="file" (change)="null" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
            </div>
        </div>
        <div class="col-sm-5"style="margin-top:10px">
            <a title="View Document"  target="_blank" href="http://africau.edu/images/default/sample.pdf" style="cursor: pointer;color:#337ab7;margin-right: 10px;margin-left: 10px !important;font-size: 19px !important;margin-top: 2px;">View Document</a>
          </div>
      </div>
      <div fxLayout="row wrap" style="margin-top: 20px !important;">
          <label style="
          margin-bottom: 10px !important;
          margin-left: 5px;">Enter Notes:</label>
        </div>
        <textarea style="width: 100%;margin-bottom: 30px;" class="area" rows="5" class="form-control txtarea" id="addSubject"
        name="addSubject" placeholder="Enter Notes"></textarea>
    </div>
    <div class="col-lg-4" style="background-color:blanchedalmond;" >
      <h3 style="text-align: center;">Project Brief</h3>
      <div fxLayout="row wrap" style="margin-top: 20px !important;">
          <div class="col-sm-7">
              <div class="file btn btn-lg btn-primary pull-left upload" >
                  <mat-icon class="upload-icon">cloud_upload</mat-icon> Upload File
                  <input style="cursor: pointer !important" class="file" type="file" name="file" (change)="null" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
              </div>
          </div>
          <div class="col-sm-5" style="margin-top:10px">
              <a title="View Document"  target="_blank" href="http://africau.edu/images/default/sample.pdf" style="cursor: pointer;color:#337ab7;margin-right: 10px;margin-left: 10px !important;font-size: 19px !important;margin-top: 2px;">View Document</a>
            </div>
        </div>
        <div fxLayout="row wrap" style="margin-top: 20px !important;">
            <label style="
            margin-bottom: 10px !important;
            margin-left: 5px;">Enter Notes</label>
          </div>
          <textarea style="width: 100%;margin-bottom: 30px;"rows="5" class="form-control txtarea" id="addSubject"
          name="addSubject" placeholder="Enter Notes"></textarea>
    </div>
    <div class="col-lg-4" style="background-color:azure;">
      <h3 style="text-align: center;">Services</h3>
      <div fxLayout="row wrap" style="margin-top: 20px !important;">
          <div class="col-sm-7">
              <div class="file btn btn-lg btn-primary pull-left upload" >
                  <mat-icon class="upload-icon">cloud_upload</mat-icon> Upload File
                  <input style="cursor: pointer !important" class="file" type="file" name="file" (change)="null" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
              </div>
          </div>
          <div class="col-sm-5"style="margin-top:10px">
              <a title="View Document"  target="_blank" href="http://africau.edu/images/default/sample.pdf" style="cursor: pointer;color:#337ab7;margin-right: 10px;margin-left: 10px !important;font-size: 19px !important;margin-top: 2px;">View Document</a>
            </div>
        </div>
        <div fxLayout="row wrap" style="margin-top: 20px !important;">
            <label style="
            margin-bottom: 10px !important;
            margin-left: 5px;">Enter Notes</label>
          </div>
          <textarea style="width: 100%;margin-bottom: 30px;"rows="5" class="form-control txtarea" id="addSubject"
          name="addSubject" placeholder="Enter Notes"></textarea>
    </div>

  </div>
</div>
<div class="flex-p">
    <div class="col-sm-12 margin-top-15" style="padding: 0px !important;">
        <button class="pull-right CancelClass" style="margin-right: 10px !important" mat-raised-button><mat-icon>cancel</mat-icon>&nbsp;Close</button>
        <button class="pull-right btn-primary" style="margin-right: 10px !important" mat-raised-button><mat-icon>update</mat-icon>&nbsp;Update</button>
    </div>
</div>