<app-usersandroles></app-usersandroles>

<div fxLayout="row wrap" #resizedDiv>
  <div class="flex-p w-100">

      <div class="row" style="margin-bottom:14px;">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <div class="w-100 flex-p">
              </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <div class="w-100 flex-p">
                      <button mat-raised-button class="pull-right add-hover-help btn-success-help" style="margin-left: 10px;">
                              <mat-icon>help_outline</mat-icon> Help
                          </button>
                  <button mat-raised-button class="pull-right add-hover btn-success" (click)="openUserDialog(null)">
                      <mat-icon>person_add</mat-icon> Add User
                  </button>
                  <!-- <button mat-raised-button color="primary" style="color: white !important;" class="pull-right filter-hover margin-right-10" (click)="filterToggle = !filterToggle">
                      <mat-icon>filter_list</mat-icon> Filter
                  </button> -->
              </div>
          </div>
      </div>

      <div fxLayout="row wrap" *ngIf="filterToggle" style="padding-bottom: 20px">
          <div fxFlex="100" fxFlex.gt-sm fxFlex.sm class="w-100">
              <mat-card class="filter">
                  <mat-card-content>
                      <div class="row col-sm-12">
                          <div class="col-sm-4">
                              <div class="col-sm-4">Assigned Role</div>
                              <div class="col-sm-8">
                                  <mat-select name="" id="" placeholder="-- Select Role --" class="form-control">
                                      <mat-option [value]=1>Project Managers</mat-option>
                                      <mat-option [value]=2>Production Team</mat-option>
                                      <mat-option [value]=3>Project Admin</mat-option>
                                      <mat-option [value]=4>Administration</mat-option>
                                      <mat-option [value]=5>Field Staff</mat-option>
                                      <mat-option [value]=6>CAD Staff</mat-option>
                                      <mat-option [value]=7>Finance</mat-option>
                                  </mat-select>
                              </div>
                          </div>
                          <div class="col-sm-4">
                              <div class="col-sm-4">Status</div>
                              <div class="col-sm-8">
                                  <mat-select class='select-option form-control' placeholder="--Search by Status--">
                                      <mat-option [value]="1">Any</mat-option>
                                      <mat-option [value]="2">Active</mat-option>
                                      <mat-option [value]="3">Inactive</mat-option>
                                  </mat-select>
                              </div>
                          </div>
                          <div class="col-sm-4">
                              <div class="col-sm-4">Keyword</div>
                              <div class="col-sm-8">
                                  <input type="text" class="form-control" placeholder="Enter Keyword" />
                              </div>
                          </div>
                      </div>
                     
                      <div class="row col-sm-12" style="margin-top:20px">
                          <div class="col-sm-8"></div>
                         
                          <div class="col-sm-4" >
                              <a (click)="filterToggle = !filterToggle" class="pull-right" style="font-size: 25px;">
                                  <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                              </a>
                              <button mat-raised-button class="pull-right btn-success-gray" style="margin-left: 10px;margin-right: 8px;">
                                  <mat-icon>settings_backup_restore</mat-icon> Reset
                              </button>
                              <button mat-raised-button class="pull-right add-hover btn-success">
                                  <mat-icon>cloud_download</mat-icon> Download CSV
                              </button>
                              <button mat-raised-button color="primary" class="pull-right filters-hover margin-right-10">
                                  <mat-icon>youtube_searched_for</mat-icon> Search
                              </button>
                          </div>

                      </div>

                  </mat-card-content>
              </mat-card>
          </div>
      </div>
      <div fxLayout="row wrap">
          <div class="table-responsive">
              <table id="example2" class="table table-bordered table-hover">
                  <thead class="tbl-head">
                      <tr class="tr-grid-header">
                          <th>User Name</th>
                          <th>Email</th>
                          <th>Phone</th>
                          <th>Assign</th>
                          <th>Assigned Role</th>
                          <th class="text-center">Status</th>
                          <th class="text-center">Actions</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let item of tableList">
                          <td>{{item.name}}</td>
                          <td>{{item.email}}</td>
                          <td>{{item.phone}}</td>
                          <td><a title="Units assigned" style="cursor: pointer">{{item.assign}}</a></td>
                          <td>{{item.assigrole}}</td>
                          <td class="pad-left inner-screen text-center">
                              <a (click)="item.status = ! item.status">
                                  <span *ngIf="!item.status" style="color:red">Inactive</span>
                                  <span *ngIf="item.status">Active</span>
                              </a>
                          </td>
                          <td class="text-center">
                              <a matTooltip="Edit Details" style="margin-right: 10px; cursor: pointer;font-size:16px!important;color:#0987e8d1">
                                <i class="fa fa-edit"></i>
                              </a>
                              <a>
                                <i style="cursor: pointer;font-size:16px!important;" matTooltip="Delete" class="fa fa-trash red"></i>
                              </a>
                            </td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</div>

<div *ngIf="!tableList" fxLayout="column" fxLayoutAlign="center center" class="campaign-spinner">
  <mat-spinner color="primary"></mat-spinner>
</div>

<div id="modal" class="modal fade" tabindex="-1" role="dialog" style="z-index:5000 !important;opacity:1"
  aria-labelledby="dialog-sizes-name2">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4 id="dialog-sizes-name2" class="modal-title pull-left">Add Information</h4>
              <button type="button" class="close pull-right" aria-label="Close" onClick="closeModal('modal')">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <form class="form-horizontal" action="/action_page.php">
                  <div class="form-group">
                      <!-- <label class="control-label col-sm-4">Content:</label> -->
                      <div class="col-sm-12">
                          <textarea rows="4" class="form-control txtarea" id="content" placeholder="Enter your comments"></textarea>
                      </div>
                  </div>
                  <div class="form-group">
                          <mat-radio-group>
                                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                          <mat-radio-button value="1">Email</mat-radio-button>
                                  </div>
                                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                          <mat-radio-button value="2">Call</mat-radio-button>
                                  </div>
                                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                      <mat-radio-button value="1">Text</mat-radio-button>
                                  </div>
                                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                      <mat-radio-button value="2">Linkedin</mat-radio-button>
                                  </div>
                          </mat-radio-group>
                       <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                              <!-- <mat-form-field>
                                      <input matInput [matDatepicker]="picke" placeholder="Choose a date">
                                      <mat-datepicker-toggle matSuffix [for]="picke"></mat-datepicker-toggle>
                                      <mat-datepicker #picke startView="year" [startAt]="startDate"></mat-datepicker>
                              </mat-form-field> -->
                       </div>
                  </div>
                      <!-- <div class="form-group">
                      <label class="control-label col-sm-4">Name:</label>
                      <div class="col-sm-6">
                          <input type="email" class="form-control" id="email" placeholder="Enter notes name">
                      </div>
                  </div> -->
                  
                  
              </form>
          </div>
          <div class="modal-footer">

              <button mat-raised-button class="add-hover" style="background:#229494;color: white;" onClick="saveModal('mod1')">Save</button>
              <button mat-raised-button class="add-dark-hover" style="background:transparent;" onClick="closeModal('modal')">Close</button>
          </div>
      </div>
  </div>
</div>