<app-kanban></app-kanban>

<div fxLayout="row wrap">
  <div class="w-100">
    <div class="flex-p">
      <div class="row wrap">
        <div class="col-xs-12 pull-right" style="margin-right:0px !important;padding-right: 7px;">
          <div class="w-100 flex-p">
            <button mat-raised-button class="pull-right  btn-primary" (click)="null">
              <mat-icon>add</mat-icon> Add Projects
            </button>
          </div>
        </div>
      </div>
    </div>

    <div fxLayout="row wrap" style="margin-top: 6px; padding: 0 7px 0 8px !important;">
      <table class="table table-bordered table-hover" style="width: 50%;background: #fff;">
        <thead class="tbl-head">
          <tr>
            <!-- <th class="text-center">Schedule Date</th>
                          <th class="text-center">Team Assigned</th> -->
            <th class="text-center">Visit Date</th>
            <th class="text-center">Status</th>
            
            <th class="text-center" style="width: 112px!important;">Actions</th>
          </tr>
        </thead>
        <tbody dragula="hail">
          <tr *ngFor="let item of sitevisits" >

            <td class="text-center" style="cursor: all-scroll;"> <span><i class="fa fa-arrows mr-5" aria-hidden="true"></i>{{item.projects}}</span></td>
            <td class="text-center">{{item.status}}</td>
            <td class="text-center">
              <a style="cursor: pointer;margin-right:10px; " matTooltip="Update site visit"
                (click)="null ">
                <i class="fa fa-edit" style="color: cornflowerblue"></i>
              </a>
              <a><i class="fa fa-trash red" matTooltip="Delete site visit" style="cursor: pointer;"
                  (click)="null"></i></a>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>