<!-- <div class="NewHeader">

  <h1 mat-dialog-title>
    <span *ngIf="!team" class="title-left"></span>
    <span *ngIf="team" class="title-left"></span> Add Docs
  </h1>
</div>
<div mat-dialog-content>
  <form class="form-horizontal" novalidate [formGroup]="teamForm">
     <div class="form-group">
      <label class="control-label col-sm-4 add-member-label">Schedule Date:&nbsp;</label>
      <div class="col-sm-8">
        <textarea class="col-12 mb-3" style="height: 100px;" placeholder="Enter Notes"  ></textarea>
        </div>
        <div *ngIf="!City.valid && (City.dirty || City.touched)" class="error-text">
          <div *ngIf="City.errors.required">
            Schedule Date is required
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4 add-member-label">Assign Team:&nbsp;</label>
      <div class="col-sm-8">
       <div class="col-sm-12">
         <div class="col-sm-6" *ngFor="let team of teams">
           <div class="col-sm-2">
              <mat-checkbox [checked]="team.is_selected"></mat-checkbox>
               </div>
                <div class="col-sm-4">
                  <label> {{team.name}}</label>
                </div>
           </div>
       </div>
      </div>
    </div> 
  
  </form>
</div>
<mat-dialog-actions class="col-sm-12" align="end">
  <button *ngIf="!team" mat-raised-button [disabled]="!teamForm.valid" [ngClass]="!teamForm.valid ? '' : 'btn-primary'">
    <mat-icon>send</mat-icon>&nbsp;Save
  </button>
  <button *ngIf="team" mat-raised-button [disabled]="!teamForm.valid" [ngClass]="!teamForm.valid ? '' : 'btn-primary'">
    <mat-icon>update</mat-icon>&nbsp;Update
  </button>
  <button mat-raised-button class="CancelClass" (click)="close()">
    <mat-icon>cancel</mat-icon>&nbsp;Close
  </button>
</mat-dialog-actions> -->
<div class="NewHeader">
    <h1 mat-dialog-title>
      Add/Edit Observations
    </h1>
  </div>
  <div mat-dialog-content>
   <h4>Enter Notes for Q001</h4>
   <textarea class="col-12 mb-3" style="height: 100px;" placeholder="Enter Notes"></textarea>
  </div>
  <mat-dialog-actions class="col-sm-12" align="end">
    <button mat-raised-button class="btn-primary text-light">
      <mat-icon>send</mat-icon>&nbsp;Save
    </button>
    <button mat-raised-button class="CancelClass" (click)="close()">
      <mat-icon>cancel</mat-icon>&nbsp;Close
    </button>
  </mat-dialog-actions>