
<div class="NewHeader">
  <h1 mat-dialog-title>
    <span *ngIf="!concepts" class="title-left">Add</span>
    <span *ngIf="concepts" class="title-left">Update</span> Item
  </h1>
</div>
<div mat-dialog-content>
  <form class="form-horizontal" novalidate [formGroup]="conceptForm">

    <div class="form-group">
        <label class="control-label col-sm-4 add-member-label">Select Category:&nbsp;</label>
        <div class="col-sm-8">
          <mat-select color="primary" placeholder="-- Select Category --" formControlName="Country" class="form-control"
            required>
            <mat-option *ngFor="let conuntry of countries" [value]="conuntry.conuntry_id">{{conuntry.conuntry_name}}
            </mat-option>
          </mat-select>
          <div *ngIf="!Country.valid && (Country.dirty || Country.touched)" class="error-text">
            <div *ngIf="Country.errors.required">
              Category is required
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-4 add-member-label">Item Description:&nbsp;</label>
        <div class="col-sm-8">
          <textarea formControlName="invoice" rows="2" class="form-control txtarea" 
          name="addSubject" placeholder="Enter Description" required></textarea>
          <div *ngIf="!invoice.valid && (invoice.dirty || invoice.touched)" class="error-text">
            <div *ngIf="invoice.errors.required">
              Item Description is required
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-4 add-member-label">Enter Quantity:&nbsp;</label>
        <div class="col-sm-8">
          <input type="text" maxlength="200" class="form-control" placeholder="Enter Quantity"
            formControlName="streetAddress" required>
          <div *ngIf="!streetAddress.valid && (streetAddress.dirty || streetAddress.touched)" class="error-text">
            <div *ngIf="streetAddress.errors.required">
             Quantity is required
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
          <label class="control-label col-sm-4 add-member-label">Unit:&nbsp;</label>
          <div class="col-sm-8">
            <mat-select color="primary" placeholder="-- Select Unit --" formControlName="State" class="form-control"
              required>
              <mat-option *ngFor="let State of States" [value]="State.state_id">{{State.state_name}}</mat-option>
            </mat-select>
            <div *ngIf="!State.valid && (State.dirty || State.touched)" class="error-text">
              <div *ngIf="State.errors.required">
                Unit is required
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-4 add-member-label">Enter Rate:&nbsp;</label>
          <div class="col-sm-8">
            <input type="text" maxlength="200" class="form-control" placeholder="Enter Quantity"
              formControlName="rate" required>
            <div *ngIf="!rate.valid && (rate.dirty || rate.touched)" class="error-text">
              <div *ngIf="rate.errors.required">
               Enter Rate is required
              </div>
            </div>
          </div>
        </div>
  </form>
</div>
<mat-dialog-actions class="col-sm-12" align="end">
  <button *ngIf="!concepts"mat-raised-button [disabled]="!conceptForm.valid" 
    [ngClass]="!conceptForm.valid ? '' : 'btn-primary'">
    <mat-icon>send</mat-icon>&nbsp;Save
  </button>
  <button *ngIf="concepts" mat-raised-button [disabled]="!conceptForm.valid" 
    [ngClass]="!conceptForm.valid ? '' : 'btn-primary'">
    <mat-icon>update</mat-icon>&nbsp;Update
  </button>
  <button mat-raised-button class="CancelClass" (click)="close()">
    <mat-icon>cancel</mat-icon>&nbsp;Close
  </button>
</mat-dialog-actions>
