.tab {
    background: #e0e0e0 !important;
    margin-right: 8px;
    padding: 0px 10px;
}
.tabActive{
    background: #50636d!important;
    color: #fff!important;
}

mgl-timeline {
    height: 3410px !important; 
    overflow: auto;
}
::ng-deep mgl-timeline-entry-content{
    height: auto !important;
}

::ng-deep .test{
    height: auto !important;
}
.left-alignment {
    text-align: left !important
}
.user-form{
    .form-field-outer{
        width: 280px;
    }
    .mat-radio-button{
        margin-right: 12px;
    }
}
.input-icon.right>i {
    right:25px;
    float: right;
    

}
.input-icon>i {
    color: #ccc;
    display: block;
    position: absolute;
    //margin: 11px 2px 4px 10px;
    margin-top: 5px;
    // margin-right: 2px;
    margin-bottom: 4px;
    margin-left: 10px;
    z-index: 3;
    width: 16px;
    font-size: 16px;
    text-align: center;
}
.fa {
    display: inline-block;
    font: 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.modal .input-icon>i {
    z-index: 10055;
}