<p class="col-sm-12" style="margin-top: 20px !important;">
  <span style="font-size: 18px;font-weight: bold; margin-right: 8px">Project Name:</span>
  <span style="font-size: 16px; margin-right: 8px">P-12564 (79GGXC Gloucester, Ottawa)</span>
  <span class="pull-right" style="font-size: 16px; margin-right: 8px;margin-top: 2px;"> Active</span>
  <span class="pull-right" style="font-size: 18px;font-weight: bold; margin-right: 8px">Project Status:</span>
  
  <!-- <span style="font-size: 16px; margin-right: 8px">(Toronto Towers) </span> -->
</p>

<div class="row super-row" style="padding: 5px 24px 10px 23px"> 
      <a routerLinkActive="active-link" routerLink="/beacon/projects/project-dashboard/activity" class="col-sm font-color">Activity
          <br /> </a>
  <a routerLinkActive="active-link" routerLink="/beacon/projects/project-dashboard/overview" class="col-sm font-color">Overview
  <br/></a>
 
  <a routerLinkActive="active-link" routerLink="/beacon/projects/project-dashboard/sitevisits" class="col-sm font-color">Site Visits
      <br />
  </a>
  <!-- <a routerLinkActive="active-link" routerLink="/ibs/projects/project-dashboard/scope" class="col-sm font-color">Scope
      <br /></a> -->
      <a routerLinkActive="active-link" routerLink="/beacon/projects/project-dashboard/budget" class="col-sm font-color">Budget
      <br /></a>
      
  <a routerLinkActive="active-link" routerLink="/beacon/projects/project-dashboard/services" class="col-sm font-color">Docs (3)
  <br /></a>
  <a routerLinkActive="active-link" routerLink="/beacon/projects/project-dashboard/concept" class="col-sm font-color">Concept
    <br /></a>
 <a routerLinkActive="active-link" routerLink="/beacon/projects/project-dashboard/schedule" class="col-sm font-color">Schedule
  </a>
  <!-- <a routerLinkActive="active-link" routerLink="/ibs/projects/project-dashboard/manage" class="col-sm font-color">Manage
  <br /></a> -->
  
  <a routerLinkActive="active-link" routerLink="/beacon/projects/project-dashboard/tender" class="col-sm font-color">Tender
    <br /> </a>
<a routerLinkActive="active-link" routerLink="/beacon/projects/project-dashboard/design" class="col-sm font-color">Design
<br/></a>
<a routerLinkActive="active-link" routerLink="/beacon/projects/project-dashboard/drawing" class="col-sm font-color">Drawings
</a>
<a routerLinkActive="active-link" routerLink="/beacon/projects/project-dashboard/construction" class="col-sm font-color">Construction
<br />
</a>
<a routerLinkActive="active-link" routerLink="/beacon/projects/project-dashboard/closure" class="col-sm font-color">Closure
<br /></a>
</div>

<div class="w-100">
  <div class="flex-p">
      <div class="row wrap">
          <div class="col-sm-12 no-padding">
              <router-outlet></router-outlet>
          </div>
      </div>
  </div>
